.achievements-main {
    width: 100vw;
    min-height: 280vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.achievements-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg-car.png');
    filter: blur(4px);
    z-index: -1;
}

.achievements-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.carousal-container{
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}