.contact-main, #hero{
    width: 100vw;
    height: 82vh;
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('../assets/c-bg.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    /* z-index: -9; */
    position: relative;
}

#hero{
    /* height: 80vh; */
    position: absolute;
    overflow: hidden;
}

.contact-main form{
    width: 600px;
    height: 350px;
    box-shadow: #FAAE00 0px 5px 15px;
    /* border: 2px solid #FAAE00; */
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact-main h1{
    color: #013B63;
}


.contact-main input,textarea{
    width: 500px;
    /* height: 50px; */
    font-family: 'Poppins';
    border-radius: 5px;
    padding-left: 10px;
    height: 25px;
    border: 2px solid #013B63;
    outline: #013B63;
}


.contact-main textarea{
    height: 100px;
    overflow: hidden;
    resize: none;
    font-family: 'Poppins';
    border: 2px solid #013B63;
    outline: #013B63;
}


.contact-main button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: #013B63;
    cursor: pointer;
    border: #013B63 2px solid;
    color: white;
    font-weight: 800;
}

.contact-main button:hover{
    background-color: #ffffff;
    color: #013B63;
}

