.logo-main{
    width: 100vw;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    gap: 100px;
    justify-content: center;
    /* border-bottom: 2px solid #FAAE00; */
    border-bottom: 2px solid black;
    /* margin-left: -50px; */
    position: fixed;
    top: 0;
    z-index: 2000;
}

.logo-main img{
    height: 50px;
}


.logo-main a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
